<md-sidenav-container>
	<md-sidenav mode="side" opened="true">
		<md-list>
			<a md-list-item *ngFor="let event of events"
						  [routerLink]="[ '/competition', competitionId, event.id, 1 ]">
				{{ event.puzzle.name }}
			</a>
		</md-list>
	</md-sidenav>

	<!--<div class="competition__content">

		<div class="competition__header">
			<div class="competition__header_title">{{ event.id | async}}</div>
			<nav class="competition__header_rounds" md-tab-nav-bar>
				<a md-tab-link *ngFor="let round of event[0].rounds | async; let i = index"
					[routerLink]="[ '/competition', competitionId, event[0].id, i ]"
					>
					{{ round.name | async}}
				</a>
			</nav>
		</div>-->

		<!--<div class="table">
				<div class="header">
					<div class="column number">#</div>
					<div class="column text">Name</div>
					<div class="column text">Country</div>
					<div class="column number"></div>
					<div class="column number"></div>
					<div class="column number"></div>
					<div class="column number"></div>
					<div class="column number"></div>
					<div class="column number average">Avg</div>
					<div class="column number">Best</div>
				</div>
				<div *ngFor="let result of activeResults" class="row">
					<div class="column number">{{ result.rank }}</div>
					<div class="column text">{{ result.competitor.name }}</div>
					<div class="column text">{{ result.competitor.country }}</div>
					<div *ngFor="let time of result.times" class="column number">{{ time.time }}</div>
					<div class="column number average">{{ result.result }}</div>
					<div class="column number">{{ result.best }}</div>
				</div>
		</div>-->

</md-sidenav-container>
