
<div class="container">
	<md-card class="event" *ngFor="let event of events">
		<md-card-title> {{ event.name }} </md-card-title>
		<md-card-content>
			<md-tab-group>
				<md-tab *ngFor="let round of event.rounds" label="{{ round.round }}">
					<div class="round-content">
						{{round.round }} round,
						{{ round.competitors }} competitors,
						Cut off: {{ round.cutoff }},
						Time Limit: {{ round.timeLimit }},
						{{ round.proceed }} proceed,
						{{ round.groups }} groups
					</div>
				</md-tab>
			</md-tab-group>
		</md-card-content>
		<md-card-actions>
			<button md-raised-button color="primary">Results</button>
		</md-card-actions>
	</md-card>
</div>
