@import '~@angular/material/core/theming/all-theme';
@import '../../../../src/theme.scss';

$table-border-color: #dddddd;
$table-background: #ffffff;
$table-header: #ffffff;
$table-hover: #eeeeee;

md-sidenav-container {
  height: calc(100vh - 64px);

  md-sidenav {
    min-width: 150px;
  }

  .tournament__content {
    width: 90%;
    margin: auto;

    .tournament__header {
      display: flex;
      flex-direction: row;
      margin: 25px 0;
      align-items: center;

      .tournament__header_title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        margin-right: 25px;
      }

      .tournament__header_rounds {
        border-bottom: none;
      }
    }


    .table {
      width: 100%;
      background: $table-background;
      border: solid 1px $table-border-color;
      border-radius: 2px;

      .table-row {
        min-width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px $table-border-color;

        &:last-child {
          border-bottom: none;
        }
      }

      .table-column {
        justify-content: space-between;
        padding: 10px 10px;
        font-size: 12px;
        vertical-align: middle;
        white-space: nowrap;
        cursor: default;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 24px;
        }

        &.number {
          flex: 0 35px;
          text-align: right;
        }

        &.text {
          flex: 1 0 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }

        &.average {
          margin-left: 15px;
        }
      }

      .header {
        @extend .table-row;

        color: $table-header;
        background: mat-color($candy-app-primary);

        .column {
          @extend .table-column;
        }
      }

      .row {
        @extend .table-row;

        .column {
          @extend .table-column;
        }

        &:hover {
          background-color: $table-hover;
        }
      }
    }
  }
}


