
<h2>
	Live Tourneys!
</h2>
<div class="tournamentList">
	<md-card *ngFor="let tournament of tournaments" [routerLink]="['/tournament', tournament.id]">
		<md-card-header>
			<md-card-title>
				{{ tournament.name }}
			</md-card-title>
			<md-card-subtitle>
				{{ tournament.country }}, {{ tournament.city }} <br> {{ tournament.startDate | date }}, {{ tournament.endDate | date }}
			</md-card-subtitle>
			<img md-card-md-image src="https://www.youcandothecube.com/resources/images/solve-it/solution-stage-one.jpg">
		</md-card-header>
		<md-card-content>
			<b>{{ tournament._competitorsMeta.count }} competitors</b><br>
			<div *ngFor="let event of tournament.events">
				<b>{{ event.name }}</b> ( <b>{{ event._roundsMeta.count }}</b> rounds )
			</div>
			<b>Notable cubers attending</b>:
			<md-chip-list>
				<md-chip *ngFor="let competitor of tournament.competitors">{{ competitor.name }}</md-chip>
			</md-chip-list>
		</md-card-content>
	</md-card>
</div>
