
<h2>
	Live Tourneys!
</h2>
<div class="tournamentList">
	<md-card *ngFor="let tournament of tournaments" [routerLink]="['/tournament', tournament.id]">
		<md-card-title>
			{{ tournament.name }}
		</md-card-title>
		<md-card-subtitle>
			{{ tournament.info.country }}, {{ tournament.info.location }}, {{ tournament.info.dates }}
		</md-card-subtitle>
		<img md-card-image src="https://www.youcandothecube.com/resources/images/solve-it/solution-stage-one.jpg">
		<md-card-content>
			<b>{{ tournament.info.competitors }} competitors</b><br>
			<div *ngFor="let event of tournament.events">
				<b>{{ event.name }}</b> ( <b>{{ event.rounds }}</b> rounds )
			</div>
			<b>Notable cubers attending</b>:
			<md-chip-list>
				<md-chip *ngFor="let cuber of tournament.info.notableCubers">{{ cuber.name }}</md-chip>
			</md-chip-list>
		</md-card-content>
	</md-card>
</div>
